*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fls
*.mtc*
*.nlg
*.not
*.ntn
*.fdb_latexmk
*.run.xml
*.brf
*.sta
*.swp
Chapitre1/*.pdf
